[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gspread = "*"
pandas = "*"
numpy = "*"

[dev-packages]
flake8 = "*"
black = "*"
pre-commit = "*"
bandit = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.10"
